html {
	position: relative;
	height: 100%;
}

body {
	margin: 0 auto;
	font-family: $sans-serif;
	font-size: 18px;
}

button, input[type="submit"] {
	background-color: $green;
	border-color: transparent;
	color: white;
	// text-transform: uppercase;
	text-align: center;
  border-radius: 5px;
	width: 200px;
	padding: 5px 0;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}


button:hover, input[type="submit"]:hover {
  background-color: $dark-gray;
}


a:hover {
	text-decoration: underline;
}
/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

.hidden {
	display: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

span {
  font-size: 1em;
}

input[type="text"], input[type="password"] {
  border-bottom: 2px solid $darkest-purple;
}
