@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $darkest-purple;
  color: white;
  padding: 20px 30px;
}

.auth-display {
  display: block;

  * {
    display: block;
    padding: 10px 20px;;
    float: left;
  }
}

.logo {
  font-family: "Arima Madurai";
}
