@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $darkest-purple;
  color: white;
  padding: 20px 40px;
  box-shadow: 0 8px 6px -6px rgba(0,0,0, .5);
  
  a:hover {
    text-decoration: none;
  }
}

.auth-display {
  display: block;

  .welcome-message {
    display: block;
    padding: 10px 20px;
    float: left;

    button {
      margin-left: 15px;
      width: auto;
      padding: 5px 15px;
    }
  }

  .auth-links a {
    margin: 0 10px;
  }
}

.logo {
  font-family: "Arima Madurai";
}

.logo:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
