.question-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 40px auto;

    .question-metadata {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      span, button {
        margin-bottom: 10px;
      }

    }

    .answer-detail {
      width: 100%;
      margin: 20px auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .answer-metadata {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 20%;

        .like-display, .delete-button {
          margin: 5px 0;
        }
      }

      .like-display {
        display: flex;
        flex-direction: row;
        align-items: center;

        .like-button {
          margin-right: 10px;
          text-shadow: 2px 2px 2px rgba(0,0,0,.75);
        }


        .like-button:hover {
          opacity: .75;
        }

        .like-button:active {
        text-shadow: 1px 1px 1px rgba(0,0,0,.75);

        }

        .liked {
          color: red;
        }
      }



      .photo-box {
        width: 70%;
        max-height: 900px;
        overflow: hidden;
      }


      img {
        width: 100%;
        align: middle;
      }

  }
}
