.search-container {
  position: relative;
  width: 35%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;

  input {
    border: none;
    width: 100%;

    @include placeholder {
      color: white;
    }
  }



}

.search-results, .no-search-results {
  position: absolute;
  top: 45px;
  display: block;
  color: black;
  background-color: $light-gray;
  width: 130%;
  padding: 10px;
  border: 1px solid $dark-gray;
  border-radius: 5px;

  ul li {
    padding: 5px;
    width: 100%;

    strong {
      font-weight: bold;
    }

    li:hover {
      text-decoration: none;
    }
  }

  ul .active li {
    background-color: $gray;
  }



}

.no-search-results {
  padding: 30px;
}

.hidden {
  display: none;
}
