.splash-page {
  overflow: hidden;
  height: 90vh;
  background-image: url("http://res.cloudinary.com/askagram/image/upload/v1484777046/splash.jpg");
  background-size: cover;

  h1 {
    position: absolute;
    top: 23%;
    left: 60%;
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px 10px black;
  }

  .session-form {
    position: absolute;
    top: 30%;
    left: 60%;
    background-color: rgba(255,255,255, .85);
  }
}
