.unanswered-index {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px 40px;
  background-color: $lightest-gray;
  // TODO: place in grid
  margin: 60px auto;
  border-radius: 5px;


  ul li {
    margin-bottom: 10px;
  }

  input[type="submit"], button {
    width: 40%;
    padding: 10px 0;
    margin: 10px auto;
  }
}
