.upload-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      text-align: center;
    }

    .dropzone {
      border-width: 2px;
      border-color: $dark-gray;
      border-style: dashed;
      padding: 20px 40px;
    }
    * {
      margin: 5px auto;
    }

    label {
      margin-top: 30px;
    }

    input[type="text"] {
      width: 80%;
    }

    input[type="submit"] {
      margin: 25px auto;
    }
  }



}
