<!DOCTYPE html>
<html>
  <head>
    <title>Askagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.CLOUDINARY_OPTIONS = {
        cloud_name: "askagram",
        upload_preset: "askagram"
      };
    </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
